#money{
    font: bold 30pt tahoma;
    color: rgb(8, 185, 8);
}

body{
    background-color: rgb(0, 0, 0);
}

#h12{
    color: rgb(38, 51, 226);
    font: bold 30pt tahoma;
}

#btn{
    font: bold 20pt tahoma;
    width: 250px;
    height: 60px;
    cursor: pointer;
}

#btn2{
    color: rgb(28, 18, 90);
    font: bold 20pt tahoma;
    width: 250px;
    height: 60px;
    cursor: pointer;
}

#title{
    color: rgb(210, 233, 3);
    font: bold 20pt tahoma;

}